<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<div th:replace="~{common/__link :: #j_link}"></div>
</head>
<body class="childrenBody">
	<div class="noFind">
		<div class="ufo">
			<i class="seraph icon-test ufo_icon"></i>
			<i class="layui-icon page_icon">&#xe638;</i>
		</div>
		<div class="page404">
			<br>
			<h3>[[${status}]] 403  您没有权限访问..</h3>
			<a href="https://www.github.com/chg122345/jleopard" target="_blank">
				<img src="/static/images/git.png"> 点击访问
			</a>
			<br>
			<p>[[${timestamp}]]</p>
			<p>[[${exception}]]</p>
			<p>我勒个去，页面被系统挟持了!</p>
		</div>
	</div>
</body>
</html>