<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jleopard.mall.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="org.jleopard.mall.model.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="ml_user_id" property="mlUserId" jdbcType="VARCHAR" />
    <id column="ml_address_id" property="mlAddressId" jdbcType="INTEGER" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <association property="user" javaType="org.jleopard.mall.model.User" select="org.jleopard.mall.dao.UserMapper.selectByPrimaryKey" column="ml_user_id"/>
    <association property="address" javaType="org.jleopard.mall.model.Address" select="org.jleopard.mall.dao.AddressMapper.selectById" column="ml_address_id"/>
    <collection property="orderItem" javaType="java.util.ArrayList" ofType="org.jleopard.mall.model.OrderItem"
                select="org.jleopard.mall.dao.OrderItemMapper.selectByOrderPrimaryKey" column="id"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, ml_user_id, ml_address_id, serial, status, number, money, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="org.jleopard.mall.model.OrderKey" >
    select 
    <include refid="Base_Column_List" />
    from ml_order
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR} and
      </if>
      <if test="mlUserId != null">
        ml_user_id = #{mlUserId,jdbcType=VARCHAR} and
      </if>
      <if test="mlAddressId != null and mlAddressId != 0">
        ml_address_id = #{mlAddressId,jdbcType=INTEGER}
      </if>
    </trim>
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="org.jleopard.mall.model.Order" >
    select
    <include refid="Base_Column_List" />
    from ml_order
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR} and
      </if>
      <if test="mlUserId != null">
        ml_user_id = #{mlUserId,jdbcType=VARCHAR} and
      </if>
      <if test="mlAddressId != null and mlAddressId != 0">
        ml_address_id = #{mlAddressId,jdbcType=INTEGER} and 
      </if>
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR} and 
      </if>
      <if test="status != null and status!= 0" >
        status = #{status,jdbcType=TINYINT} and 
      </if>
      <if test="number != null and number != 0" >
        number = #{number,jdbcType=INTEGER} and 
      </if>
      <if test="money != null and money != 0.0" >
        money = #{money,jdbcType=DOUBLE} and
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.jleopard.mall.model.OrderKey" >
    delete from ml_order
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR} and
      </if>
      <if test="mlUserId != null">
        ml_user_id = #{mlUserId,jdbcType=VARCHAR} and
      </if>
      <if test="mlAddressId != null and mlAddressId != 0">
        ml_address_id = #{mlAddressId,jdbcType=INTEGER}
      </if>
    </trim>
  </delete>
  <insert id="insert" parameterType="org.jleopard.mall.model.Order" >
    insert into ml_order (id, ml_user_id, ml_address_id, 
      serial, status, number, 
      money, created)
    values (#{id,jdbcType=VARCHAR}, #{mlUserId,jdbcType=VARCHAR}, #{mlAddressId,jdbcType=INTEGER}, 
      #{serial,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{number,jdbcType=INTEGER}, 
      #{money,jdbcType=DOUBLE}, #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.jleopard.mall.model.Order" >
    insert into ml_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mlUserId != null" >
        ml_user_id,
      </if>
      <if test="mlAddressId != null" >
        ml_address_id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="number != null and number != 0" >
        number,
      </if>
      <if test="money != null and money != 0.0" >
        money,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mlUserId != null" >
        #{mlUserId,jdbcType=VARCHAR},
      </if>
      <if test="mlAddressId != null" >
        #{mlAddressId,jdbcType=INTEGER},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="number != null and number != 0" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="money != null money != 0.0" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jleopard.mall.model.Order" >
    update ml_order
    <set >
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="number != null and number != 0" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="money != null and money != 0.0" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jleopard.mall.model.Order" >
    update ml_order
    set serial = #{serial,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      number = #{number,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
      and ml_user_id = #{mlUserId,jdbcType=VARCHAR}
      and ml_address_id = #{mlAddressId,jdbcType=INTEGER}
  </update>
</mapper>